body {
    margin: 0px;
}

nav {
    background-color: pink;

    width: 100vw;
    display: flex;

    padding: 5px;

    #logo {
        width: 100%;
    }

    #right {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;

    }

    a {
        padding: 10px;
    }

    a:hover {
        background-color: #c3e9d6;
        transition: 200ms;
    }
}


.other-thingy {
    background-color: #b5c0f0;
    margin:0px;
    padding: 0px;

    height: fit-content;



    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h5 {
        margin-bottom: 0px;
    }

    h6 {
        margin-top: 7px;
        margin-bottom: 200px;
    }
}


#boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

    width: 30%;
    max-width: 860px;


    justify-content: center;
    margin-top: 25px;

    /* for debugging */
    background-color: pink;

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 24px;

        width: 200px;
        height: 125px;
        background-color: #6f6cd3;
    }

    .box:hover {
        background-color: #c3e9d6;
        transition: 200ms;
    }
}